@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}

* {
  font-family: "Poppins", sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn__brown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  padding: 10px 18px;
  background-color: #575445;
  color: #ffffff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  height: 44px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.btn__brown:hover {
  background-color: #302D20;
}

.title {
  font-size: 14px;
  line-height: 20px;
  color: #E6B939;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 36px;
  line-height: 43px;
  font-family: "Roboto";
  color: #575445;
  margin-top: 8px;
}

nav {
  background-color: #ffffff;
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.menu__item-link {
  color: #444444;
  font-size: 13px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.menu__item-link:hover {
  color: #222222;
}

.burger {
  display: none;
  cursor: pointer;
}

.section__main {
  background: url(../img/main_bg.jpg) center center/cover no-repeat;
  padding: 218px 0 227px 0;
}

.main__subtitle {
  color: #ffffff;
  max-width: 416px;
  font-size: 48px;
  line-height: 58px;
}

.main__descr {
  font-size: 17px;
  line-height: 25px;
  margin-top: 9px;
  color: #CACCD1;
  max-width: 495px;
}

.section__about {
  padding: 100px 0;
  background: url(../img/about_bg.jpg) center center/cover no-repeat;
}

.about__wrapper {
  max-width: 1168px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.about__text {
  margin-top: 175px;
}

.about__descr {
  margin-top: 8px;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  max-width: 384px;
}

.about__link {
  font-size: 15px;
  color: #444444;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.about__link:hover {
  margin-left: 7px;
}

.about__photo {
  max-width: 576px;
  width: 90%;
}

.section__promise {
  background: url(../img/promise_bg.jpg) center center/cover no-repeat;
  padding: 99px 0 160px 0;
}

.promise__title {
  text-align: center;
}

.promise__subtitle {
  text-align: center;
}

.promise__descr {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  max-width: 538px;
  margin: 0 auto;
  margin-top: 7px;
  color: #444444;
}

.promise__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 100px;
  margin-top: 70px;
}

.promise__card {
  max-width: 300px;
  padding: 6px;
}

.promise__card-img {
  display: block;
  margin: 0 auto;
}

.promise__card-title {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #444444;
}

.promise__card-descr {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  text-align: center;
}

.section__store {
  padding: 100px 0;
}

.store__title {
  text-align: center;
}

.store__subtitle {
  text-align: center;
}

.store__descr {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #575445;
  max-width: 538px;
  margin: 0 auto;
  margin-top: 7px;
}

.store__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
  margin-top: 20px;
}

.store__card {
  max-width: 379px;
  height: 473px;
  padding: 40px 0;
  border-radius: 10px;
}

.store__card-1 {
  background: url(../img/bgcard1.png) center center/cover no-repeat;
  width: 100%;
}

.store__card-2 {
  background: url(../img/bgcard2.png) center center/cover no-repeat;
  width: 100%;
}

.store__card-3 {
  background: url(../img/bgcard3.png) center center/cover no-repeat;
  width: 100%;
}

.store__card-4 {
  background: url(../img/bgcard4.png) center center/cover no-repeat;
  width: 100%;
}

.store__card-5 {
  background: url(../img/bgcard5.png) center center/cover no-repeat;
  width: 100%;
}

.store__card-6 {
  background: url(../img/bgcard6.png) center center/cover no-repeat;
  width: 100%;
}

.store__card-title {
  font-family: "Roboto";
  font-size: 28px;
  text-align: center;
  color: #575445;
}

.store__card-descr {
  font-size: 16px;
  line-height: 22px;
  color: #575445;
  text-align: center;
  max-width: 262px;
  margin: 0 auto;
  margin-top: 9px;
}

.store__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-top: 20px;
  color: #575445;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.store__card-link a {
  color: #575445;
}

.store__card-link-img {
  margin-top: 3px;
}

.store__card-link:hover {
  margin-left: 10px;
}

.section__kit {
  padding: 40px 0;
  background: url(../img/kit_bg.jpg) center center/cover no-repeat;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.kit__wrapper {
  margin-left: auto;
  max-width: 615px;
  background-color: #222222;
  border-radius: 16px;
  padding: 16px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.kit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.kit__item_name {
  font-size: 11px;
  color: #ffffff;
}

.section__shop {
  padding: 100px 0;
  background: url(../img/shop_bg.png) center center/cover no-repeat;
}

.shop__title {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.shop__subtitle {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #E6B939;
}

.shop__descr {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  max-width: 538px;
  margin: 0 auto;
  margin-top: 7px;
  line-height: 19px;
}

.shop__btn {
  font-size: 15px;
  color: #575445;
  padding: 18px 10px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 111px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 44px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.shop__btn:hover {
  color: #ffffff;
  background-color: #444444;
}

.section__guides {
  padding-top: 100px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guides__descr {
  max-width: 538px;
  margin-top: 7px;
  font-size: 16px;
  line-height: 19px;
  color: #575445;
}

.guides__wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guides__card {
  max-width: 568px;
  width: 100%;
}

.guides__card_img {
  max-width: 568px;
  width: 100%;
}

.guides__card_name {
  font-size: 20px;
  line-height: 24px;
  color: #575445;
  margin-top: 18px;
  max-width: 465px;
}

.guides__card_author {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guides__card_author_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 50px;
}

.guides__card_author-name {
  font-family: "Roboto";
  font-size: 13px;
  color: #575445;
}

.guides__card_author-prof {
  font-size: 11px;
  color: #E6B939;
}

.guides__card_author-date {
  font-size: 13px;
  color: #444444;
}

.guides__card_author-photo {
  margin-right: 15px;
  max-width: 50px;
}

.guides__card_author-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guides__link {
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 210px;
}

.guides__link_item {
  color: #575445;
  font-size: 15px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.guides__link_item:hover {
  margin-left: 7px;
}

.section__subscribe {
  padding: 200px 0 100px 0;
  background: url(../img/sub_bg.jpg) center center/cover no-repeat;
}

.subscribe__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 576px;
  width: 100%;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 104px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe__text {
  margin-top: 150px;
  max-width: 384px;
}

.subscribe__descr {
  margin-top: 7px;
  font-size: 16px;
  color: #444444;
}

.subscribe__link {
  color: #575445;
  font-size: 15px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__link:hover {
  margin-left: 7px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #575445;
  padding: 100px 0;
}

.footer__logo {
  display: block;
  margin: 0 auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 75px;
  width: 100%;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 15px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 75px;
}

.footer__links_column {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E6B939;
  gap: 10px;
  max-width: 221px;
  width: 100%;
}

.footer__links_column li {
  margin-top: 9px;
}

.footer__links_column li a {
  color: #ffffff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-size: 13px;
}

.footer__links_column li a:hover {
  color: #E6B939;
}

.footer__back_title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E6B939;
}

.footer__back_descr {
  font-size: 14px;
  max-width: 438px;
  width: 100%;
  line-height: 20px;
  color: #ffffff;
}

.footer__back_form {
  margin-top: 9px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__back_input {
  max-width: 458px;
  width: 100%;
  height: 53px;
  padding: 17px 21px;
  font-size: 14px;
  color: black;
  position: relative;
  border-radius: 8px;
  border: none;
  outline: none;
  z-index: 1;
  padding-right: 120px;
}

.footer__back_input::-webkit-input-placeholder {
  color: #444444;
}

.footer__back_input::-moz-placeholder {
  color: #444444;
}

.footer__back_input:-ms-input-placeholder {
  color: #444444;
}

.footer__back_input::-ms-input-placeholder {
  color: #444444;
}

.footer__back_input::placeholder {
  color: #444444;
}

.footer__back_input-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2;
}

@media (max-width: 1233px) {
  .guides__title {
    text-align: center;
  }

  .guides__subtitle {
    text-align: center;
  }

  .guides__descr {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 1125px) {
  .section__subscribe {
    padding: 100px 0 50px 0;
  }

  .subscribe__text {
    text-align: center;
    margin: 0 auto;
  }

  .subscribe__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1120px) {
  .section__about {
    padding: 30px 0;
  }

  .about__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }

  .about__photo {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }
}

@media (max-width: 980px) {
  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
  }

  .footer__links_column {
    max-width: 150px;
  }
}

@media (max-width: 768px) {
  .main__descr {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .kit__item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}